numpy
pygame-ce>=2.5.7; sys_platform == "win32" and platform_machine == "ARM64"
pygame; sys_platform != "win32" or platform_machine != "ARM64"
openai
socksio
opencc-python-reimplemented
pydantic
pandas
requests
onnxruntime
rembg
google-genai
tiktoken
pyaudio; sys_platform == "linux"
pyaudio; sys_platform == "win32" and platform_machine != "ARM64"
anthropic
mcp>=1.2.0
PySide6
pyyaml
filelock>=3.13,<4
qrcode>=7.4,<9
vosk; sys_platform != "win32" or platform_machine != "ARM64"
gpu-list
py7zr
py7zz>=1.1.4; sys_platform == "darwin" or platform_machine == "x86_64" or platform_machine == "AMD64"
mem0ai[nlp]
click>=8.1,<9
spacy>=3.7,<4
sentence-transformers>=5.2,<6
transformers>=4.51.1,<5
huggingface-hub==0.36.2
fastembed
